* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background-color: #2B2B2B;
}

header .header_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

header .header_first h2 {
  color: white;
  font-weight: 600;
}

header .header_first .h2_special {
  color: #0036F4;
}

header .header_second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header_second ul li {
  list-style: none;
}

header .header_second ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

header .header_second ul li a:hover {
  color: #D8D7D7;
}

h1 {
  color: #0036F4;
  display: block;
  text-align: center;
  margin: 150px;
  font-size: 50px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
}

main .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
}

main .card img {
  width: 500px;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 0px 0px 25px;
}

main .card .second {
  border-radius: 0px 25px 25px 0px;
}

main .card p {
  padding: 35px;
  font-size: 25px;
  text-align: justify;
}

.data_extra {
  display: block;
  text-align: center;
  margin: 50px;
}

.data_extra h1 {
  color: #0036F4;
}

.data_extra button {
  padding: 10px 25px;
  margin: 25px;
  border: 2px solid #0036F4;
  background: inherit;
  border-radius: 25px;
}

.data_extra button a {
  text-decoration: none;
  color: #0036F4;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.data_extra button:hover {
  background: #0036F4;
}

.data_extra button:hover a {
  color: white;
  letter-spacing: 1px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px;
  background: #2B2B2B;
}

footer p {
  color: white;
}

footer .footer_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_first h2 {
  color: white;
}

footer .footer_first .h2_special {
  color: #0036F4;
}

footer .footer_third ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_third ul li {
  list-style: none;
}

footer .footer_third ul li a {
  padding: 10px;
  color: white;
}
/*# sourceMappingURL=mision.css.map */