* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background-color: #2B2B2B;
}

header .header_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

header .header_first h2 {
  color: white;
  font-weight: 600;
}

header .header_first .h2_special {
  color: #0036F4;
}

header .header_second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header_second ul li {
  list-style: none;
}

header .header_second ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

header .header_second ul li a:hover {
  color: #D8D7D7;
}

main {
  max-width: 80%;
  margin: 50px auto;
  text-align: center;
}

main .h3_special {
  color: #0036F4;
  font-size: 35px;
  padding: 25px;
}

main form .first_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px auto;
}

main form .first_part h4 {
  padding: 25px;
  font-size: 20px;
  color: #2B2B2B;
}

main form .first_part input {
  width: 350px;
  height: 35px;
  border: 2px solid #0036F4;
  border-radius: 25px;
  padding: 5px 15px;
  outline: none;
}

main form .second_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  padding: 70px;
  width: 500px;
}

main form .second_part .div_second_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2B2B2B;
  width: 180px;
  height: 55px;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px;
  border-radius: 15px;
}

main form .second_part .div_second_part input {
  width: 25px;
  height: 25px;
}

main form .third_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main form .third_part h2 {
  color: #0036F4;
}

main form .third_part div {
  margin: 25px auto;
  -webkit-box-shadow: 5px 5px 25px -1px rgba(0, 0, 0, 0.66);
  box-shadow: 5px 5px 25px -1px rgba(0, 0, 0, 0.66);
  padding: 35px;
  width: 500px;
  border-radius: 25px;
}

main form .third_part h3 {
  padding: 15px;
  font-size: 20px;
  color: #2B2B2B;
}

main form .third_part input {
  width: 350px;
  height: 35px;
  border: 2px solid #0036F4;
  border-radius: 25px;
  padding: 5px 15px;
  outline: none;
}

main form .third_part textarea {
  width: 350px;
  height: 150px;
}

main form .third_part .hidden {
  display: none;
}

main form .fourth_part h4 {
  color: #0036F4;
  padding: 25px;
  font-size: 25px;
}

main form .fourth_part textarea {
  width: 350px;
  height: 150px;
}

main form button {
  padding: 10px 25px;
  margin: 25px;
  border: 2px solid #0036F4;
  background: inherit;
  border-radius: 25px;
  text-decoration: none;
  color: #0036F4;
  font-weight: 600;
  letter-spacing: 1.2px;
}

main form button:hover {
  color: #D8D7D7;
  background: #0036F4;
}

.container {
  z-index: 10;
  background-color: #2B2B2B;
  width: 100%;
  height: 100%;
}

.container section {
  position: fixed;
  text-align: center;
  left: 29%;
  background: #f5f5f5;
  border-radius: 25px;
  padding: 35px 45px;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.container section h4 {
  color: green;
  font-size: 20px;
}

.container section button {
  padding: 10px 25px;
  margin: 25px;
  border: 2px solid #0036F4;
  background: inherit;
  border-radius: 25px;
}

.container section button a {
  text-decoration: none;
  color: #0036F4;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.container section button:hover {
  background: #0036F4;
}

.container section button:hover a {
  color: white;
  letter-spacing: 1px;
}

.hidden {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px;
  background: #2B2B2B;
}

footer p {
  color: white;
}

footer .footer_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_first h2 {
  color: white;
}

footer .footer_first .h2_special {
  color: #0036F4;
}

footer .footer_third ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_third ul li {
  list-style: none;
}

footer .footer_third ul li a {
  padding: 10px;
  color: white;
}

@-webkit-keyframes animacion {
  0% {
    top: -1500px;
  }
  100% {
    top: 85px;
  }
}

@keyframes animacion {
  0% {
    top: -1500px;
  }
  100% {
    top: 85px;
  }
}
/*# sourceMappingURL=presupuesto.css.map */