* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background-color: #2B2B2B;
}

header .header_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

header .header_first h2 {
  color: white;
  font-weight: 600;
}

header .header_first .h2_special {
  color: #0036F4;
}

header .header_second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header_second ul li {
  list-style: none;
}

header .header_second ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

header .header_second ul li a:hover {
  color: #D8D7D7;
}

.main_section_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 75%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_section_one .main_card {
  margin: 25px 0px;
  padding: 25px 35px;
}

.main_section_one .main_card img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.main_section_one .main_card h3 {
  position: relative;
  bottom: 60px;
  text-align: center;
  background: white;
  padding-bottom: 15px;
}

.main_section_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_section_two .section_card {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_section_two .section_card div {
  padding: 25px;
}

.main_section_two .section_card div h3 {
  font-size: 35px;
}

.main_section_two .section_card div p {
  font-size: 20px;
}

.main_section_two .section_card div button {
  padding: 10px 25px;
  margin: 25px;
  border: 2px solid #0036F4;
  background: inherit;
  border-radius: 25px;
}

.main_section_two .section_card div button a {
  text-decoration: none;
  color: #0036F4;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.main_section_two .section_card div button:hover {
  background: #0036F4;
}

.main_section_two .section_card div button:hover a {
  color: white;
  letter-spacing: 1px;
}

.main_section_two .section_card img {
  width: 500px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 0px 0px 25px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px;
  background: #2B2B2B;
}

footer p {
  color: white;
}

footer .footer_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_first h2 {
  color: white;
}

footer .footer_first .h2_special {
  color: #0036F4;
}

footer .footer_third ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_third ul li {
  list-style: none;
}

footer .footer_third ul li a {
  padding: 10px;
  color: white;
}
/*# sourceMappingURL=servicios.css.map */