//VARIABLES

$colorAzul: #0036F4;
$colorNegro: #2B2B2B;
$colorHover: #D8D7D7;

//MIXINS
@mixin button{
    padding: 10px 25px;
    margin: 25px;
    border: 2px solid $colorAzul;
    background: inherit;
    border-radius: 25px;
    a{
        text-decoration: none;
        color: $colorAzul;
        font-weight: 600;
        letter-spacing: 1.2px;
    }
}

@mixin buttonHover{
    background: $colorAzul;
    a{
        color: white;
        letter-spacing: 1px;
    }
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: $colorNegro;
    .header_first{
        display: flex;
        font-weight: 500;
        h2{
            color: white;
            font-weight: 600;
        }
        .h2_special{
            color: $colorAzul;
        }
    }
    .header_second{
        ul{
            display: flex;
            justify-content: space-around;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    padding: 10px;
                    color: white;
                }
                a:hover{
                    color: $colorHover;
                }
            }
        }
    }
   
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
    h1{
        color: $colorAzul;
        padding: 45px;
        font-size: 45px;

    }
    .main_card{
        display: flex;
        justify-content: space-around;
        align-items: center;
        img{
            width: 350px;
            height: 350px;
            border-radius: 100%;
            padding: 25px;
            object-fit: cover;
            margin: 25px;
        }
        h3{
            font-size: 35px;
            color: $colorNegro;
        }
        hr{
            border: 2px solid $colorNegro;
            width: 500px;
        }
        i{
            color: gold;
        }
        p{
            padding: 10px;
        }
    }
}

.section_final{
    display: block;
    text-align: center;
    h1{
        color: $colorAzul;
        padding: 25px;
        font-size: 45px;
    }
    button{
        @include button();
    }
    button:hover{
        @include buttonHover();
    }
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
    background: $colorNegro;
    p{
        color: white;
    }
    .footer_first{
        display: flex;
        h2{
            color: white;
        }
        .h2_special{
            color: $colorAzul
        }
    }
    .footer_third{
        ul{
            display: flex;
            li{
                list-style: none;
                a{
                    padding: 10px;
                    color: white;
                }
            }
        }
    }
}