* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background-color: #2B2B2B;
}

header .header_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

header .header_first h2 {
  color: white;
  font-weight: 600;
}

header .header_first .h2_special {
  color: #0036F4;
}

header .header_second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header_second ul li {
  list-style: none;
}

header .header_second ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

header .header_second ul li a:hover {
  color: #D8D7D7;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 90%;
}

main h1 {
  color: #0036F4;
  padding: 45px;
  font-size: 45px;
}

main .main_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main_card img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  padding: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 25px;
}

main .main_card h3 {
  font-size: 35px;
  color: #2B2B2B;
}

main .main_card hr {
  border: 2px solid #2B2B2B;
  width: 500px;
}

main .main_card i {
  color: gold;
}

main .main_card p {
  padding: 10px;
}

.section_final {
  display: block;
  text-align: center;
}

.section_final h1 {
  color: #0036F4;
  padding: 25px;
  font-size: 45px;
}

.section_final button {
  padding: 10px 25px;
  margin: 25px;
  border: 2px solid #0036F4;
  background: inherit;
  border-radius: 25px;
}

.section_final button a {
  text-decoration: none;
  color: #0036F4;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.section_final button:hover {
  background: #0036F4;
}

.section_final button:hover a {
  color: white;
  letter-spacing: 1px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px;
  background: #2B2B2B;
}

footer p {
  color: white;
}

footer .footer_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_first h2 {
  color: white;
}

footer .footer_first .h2_special {
  color: #0036F4;
}

footer .footer_third ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_third ul li {
  list-style: none;
}

footer .footer_third ul li a {
  padding: 10px;
  color: white;
}
/*# sourceMappingURL=testimonios.css.map */